<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <title>Title</title>
</head>
<body>
<div class="container">

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/accout/new'}">Add Account</a>
            <!--giong voi doan code ${'/accout/new'} = @{/accout/new} -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </li>
    </ul>

    <div th:if="${not #lists.isEmpty(listAccount)}">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Money</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="list,status :${listAccount}">
                <td th:text="${status.index+1}"></td>
                <td th:text="${list.id}"></td>
                <td th:text="${list.name}"></td>
                <td th:text="${list.phone}"></td>
                <td th:text="${list.money}"></td>
                <td><a th:href="${'/account/delete/'+list.getId()}">Delete</a></td>
                <td><a th:href="${'/account/edit/'+list.id}">Edit</a></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>
</body>
</html>